.header__link {
  display: block;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.header__link:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .header__link {
    font-size: clamp(14px, 15px, 18px);
  }
}