.auth__submit-button {
  padding: 14px 0;
  font-size: 18px;
  line-height: 1.22;
  background-color: #fff;
  border: none;
  transition: opacity .3s;
  cursor: pointer;
}

.auth__submit-button:hover:enabled {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .auth__submit-button {
    font-size: clamp(14px,2em, 18px);
  }
}